@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Orbitron:wght@400..900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 0px;
    font-family: "Manrope", sans-serif;
    margin-top: 100px;
}

:root {
    --navtekst: rgb(37, 40, 92);
    --bla: #dd00dd;
    --bakgrunnsfarge: black;
    --hvit: white;
    --skyggeoverskrift: rgb(214, 38, 38);
    --overskrift: #7e0e0e;
    --lysgrå: rgb(209, 216, 217);

}

img {
    width: 100%;
}

a {
    text-decoration: none;
}



/* Navbar */

nav {
    height: 100px;
    width: 100%;
    border: 0px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: none;
    font-size: 20px;
    font-family: "Volkhov", serif;
}

#nav2 {
    position: absolute;
    top: 0;
    left: 0;
}

#nav1 {
    background-color: var(--lysgrå);
    color: white;
    position: fixed;
    top: 0;
}

nav a {
    color: var(--navtekst);
}

#nav1 a {
    color: var(--navtekst);
}

nav a:hover {
    color: black;
}

nav>a {
    font-size: 40px;
    padding-left: 30px;
    font-weight: 800;
    font-style: italic;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: var(--nav);

}

nav li {
    padding-right: 28px;
}




/* Footer*/

footer {
    margin-top: 100px;
    width: 100vw;
    height: fit-content;
    background-color: var(--navtekst);
    display: grid;
    grid-template-columns: repeat(4, 25vw);
}

footer>div {
    padding: 40px;
    color: white;
}

footer h4 {
    padding-bottom: 10px;
}

#nyhetsbrev {
    margin-top: 10px;
    height: 25px;
}

#nyhetsbrevbtn {
    height: 25px;
}

footer li {
    list-style-type: none;
    font-size: 14px;
    line-height: 27px;
}


footer li>a {
    color: var(--hvit);
}





/* Index */

#bodyindex {
    margin: 0px;
}

#forsidebilde {
    height: 100vh;
}

#tittelforside {
    font-size: 90px;
    color: var(--navtekst);
    /*text-shadow: 2px 2px #fcfbfb;*/
    font-weight: 700;
    font-style: italic;
    position: absolute;
    left: 5vw;
    top: 55vh;
    font-family: "Volkhov", serif;
}

#undertittelforside {
    font-size: 40px;
    color: var(--navtekst);
    /*text-shadow: 2px 2px #fcfbfb;*/
    font-weight: 700;
    font-style: italic;
    position: absolute;
    left: 5vw;
    top: 75vh;
    font-family: "Volkhov", serif;
}

.introytrecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--navtekst);
}

.introcontainer {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 50px;
    text-align: center;
    padding: 50px;
}

.introytrecontainer h1 {
    font-size: 50px;
    padding: 30px;
}

.introcontainer i {
    font-size: 90px;
    padding: 15px;
}

.introcontainer>div {
    border: 1px solid var(--navtekst);
    padding: 10px;

}

.introytrecontainer>.fa-plane-departure,
.fa-plane-departure .front {
    font-size: 40px;
    padding: 20px;
    padding-top: 40px;
}

.slagordside1 {
    display: flex;
}

.kursiv {
    font-style: italic;
    padding-left: 7px;
}

.introcontainer h3 {
    font-size: 20px;
    padding: 7px;
}

.introcontainer p {
    font-size: 17px;
    line-height: 27px;
}





/* Side Topplisten */

.ytterste {
    width: 70vw;
    /*media, sette bredere*/
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.ytterste>h1 {
    color: var(--navtekst);
    font-size: 50px;
    font-family: "Volkhov", serif;
    font-weight: 100;
    padding: 45px;
}

.ytterste>p {
    color: black;
    font-size: 25px;
    text-align: center;
    padding-bottom: 20px;
}

.fa-message {
    font-size: 70px;
    color: var(--navtekst);
}

.speil {
    transform: scaleX(-1)
}

.meldingercontainer {
    border: 2px solid var(--navtekst);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 10vh 60vh 10vh;
    align-items: center;
    row-gap: 70px;
    column-gap: 20px;
    margin-top: 80px;
    padding: 40px;
    font-size: 20px;
    font-style: italic;
}

.gridmeldingos {
    grid-column: 1/4;
    text-align: center;
    font-size: 28px;
    color: var(--navtekst);
    font-family: "Volkhov", serif;
    font-style: normal;
}










/* Bokser som dukker opp */
.overskriftTop2 {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    align-items: center;
    padding: 50px;
    color: var(--navtekst);

}

.overskriftTop2:hover {
    color: var(--lysgrå);
}

.overskriftTop2>i {
    font-size: 40px;
    padding-left: 10px;
}




.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 2.5vw;
    width: 70vw;

}


.container>div {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container>a {
    height: 15vw;
    width: 15vw;
    border: 3px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: white;
    text-shadow: 3px black;
    background-size: 100% 100%;
}

.container>a:hover {
    background-color: rgba(246, 249, 250, 0.334);
    background-blend-mode: difference;

}

.none {
    display: none;
}


/* Side favoritter */

.hjerte {
    height: 100px;
    width: auto;
    filter: invert(100%) brightness(30%);
}

.favoverskrifter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.favoverskrifter > h1 {
    color: var(--navtekst);
    font-size: 50px;
    font-family: "Volkhov", serif;
    font-weight: 100;
    padding: 50px;
}

/* Side miljø*/

.maintog {
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    top: 0;
    z-index: -3;
}

#videotog {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: 1;
    opacity: 0.8;
}

.maintog > h1, .maintog > h2 {
    position: absolute;
    z-index: 2; 
    color: var(--navtekst);
}


.blaaboks {
    background-color: var(--navtekst);
    width: 100vw;
    height: fit-content;
    padding: 90px;
    display: flex;
    justify-content: center;
}

.miljoegrid {
    display: grid;
    grid-template-columns: 25vw 25vw 25vw;
}

.teksta {
    grid-column: 2/4;
}

.tekstb {
    grid-column: 1/3;
}