@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Orbitron:wght@400..900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 0px;
    font-family: "Manrope", sans-serif;
    margin-top: 100px;
}

:root {
    --navtekst: rgb(37, 40, 92);
    --bla: #dd00dd;
    --bakgrunnsfarge: black;
    --hvit: white;
    --skyggeoverskrift: rgb(214, 38, 38);
    --overskrift: #7e0e0e;

}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

/* Navbar */

nav {
    height: 100px;
    width: 100%;
    border: 0px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: none;
    font-size: 20px;
    font-family: "Volkhov", serif;
}

#nav2 {
    position: absolute;
    top: 0;
    left: 0;
}
#nav1 {
    background-color: var(--navtekst);
    color: white;
    position: fixed;
    top: 0;
}

nav a {
    color: var(--navtekst);
}

#nav1 a {
    color: white;
}

nav a:hover {
    color: black;
}

nav>a {
    font-size: 40px;
    padding-left: 30px;
    font-weight: 800;
    font-style: italic;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: var(--nav);

}

nav li {
    padding-right: 28px;
}


/* Footer*/

footer {
    margin-top: 100px;
    width: 100vw;
    height: fit-content;
    background-color: var(--navtekst);
    display: grid;
    grid-template-columns: repeat(4, 25vw);
}

footer > div {
    padding: 40px;
    color: white;
}

footer h4 {
    padding-bottom: 10px;
}

#nyhetsbrev {
    margin-top: 10px;
}

footer li {
    list-style-type: none;
    font-size: 14px;
    line-height: 27px;
}








/* Første side*/

#bodyindex {
    margin: 0px;
}

#tittelforside {
    font-size: 90px;
    color: var(--navtekst);
    /*text-shadow: 2px 2px #fcfbfb;*/
    font-weight: 700;
    font-style: italic;
    position: absolute;
    left: 5vw;
    top: 60vh;
    font-family: "Volkhov", serif;
}

#undertittelforside {
    font-size: 40px;
    color: var(--navtekst);
    /*text-shadow: 2px 2px #fcfbfb;*/
    font-weight: 700;
    font-style: italic;
    position: absolute;
    left: 5vw;
    top: 75vh;
    font-family: "Volkhov", serif;
}

.introytrecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--navtekst);
}
.introcontainer {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 50px;
    text-align: center;
    padding: 50px;
}

.introytrecontainer h1{
    font-size: 50px;
    padding: 30px;
}
.introcontainer i {
    font-size: 90px;
    padding: 15px;
}

.introcontainer > div {
    border: 1px solid var(--navtekst);
    padding: 10px;
    
}

.fa-plane-circle-check {
    font-size: 40px;
    padding: 20px;
    padding-top: 40px;
}

.slagordside1 {
    display: flex;
}

.kursiv {
    font-style: italic;
    padding-left: 7px;
}

.introcontainer h3 {
    font-size: 20px;
    padding: 7px;
}

.introcontainer p {
    font-size: 17px;
    line-height: 27px;
}

/* Bokser som dukker opp */
.overskriftTop2 {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    align-items: flex-end;
    padding: 40px;

}

.overskriftTop2 > i {
    font-size: 60px;
    padding-left: 10px;
}




.ytterste {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 2.5vw;
    width: 70vw;

}


.container>div {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container>a {
    height: 15vw;
    width: 15vw;
    border: 3px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: white;
    text-shadow: 3px black;
    background-size: 100% 100%;
}

.container>a:hover {
    background-color: rgba(246, 249, 250, 0.334);
    background-blend-mode: difference;

}

.none {
    display: none;
}


/* Tenk bærekraftig*/

.maintog {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    top: 0;
    z-index: -3;
}

#videotog {
    opacity: 0.8;
}